.nav {
    grid-area: n;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.item a{
    color: whitesmoke;
    font-weight: bold;
}

.item a.active {
    color: saddlebrown;
    font-weight: bolder;
    text-decoration: underline;
}