.nav {
    grid-area: n;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 30px;
}

.item a{
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none;
}

.item a.active {
    color: saddlebrown;
    font-weight: bolder;
    text-decoration: none;
}