.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 30px;
}

.dialogsItems .active {
    color: saddlebrown;
    font-weight: bold;
    text-decoration: none;
}

.messages {
    padding: 30px;
}

.messages .message {

}


.item a{
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none;
}

.item a.active {
    color: saddlebrown;
    font-weight: bold;
    text-decoration: none;
}